<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <title>Your submitted applications</title>
</head>
<body>
<div layout:fragment="main-content">
    <div th:if="${not#lists.isEmpty(ownerApplications)}">

        <table class="table">
            <thead>
            <tr>
                <th>City</th>
                <th>Address</th>
                <th>RentPrice</th>
                <th>Owner</th>
                <th>Email</th>
                <th>Status</th>
                <th sec:authorize="hasRole('ADMIN')">Actions</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="app: ${ownerApplications}">
                <td th:text="${app.property !=null ? app.property.city : 'NO'}"></td>
                <td th:text="${app.property !=null ? app.property.address : 'NO'}"></td>
                <td th:text="${app.property !=null ? app.property.rentPrice : 'NO'}"></td>
                <td th:text="${app.owner.firstName !=null ? app.owner.firstName : 'NO'}"></td>
                <td th:text="${app.owner.email !=null ? app.owner.email : 'NO'}"></td>
                <td th:text="${app.status !=null ? app.status : 'NO'}"></td>

                <td>
                    <a sec:authorize="hasRole('ADMIN')" class="btn btn-outline-light btn-sm"
                       th:href="@{'/OwnerApplications/change/appStatus/' + ${app.id}}">Change Status</a>
                </td>


            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${ #lists.isEmpty(ownerApplications)}">
        No submitted applications found!
    </div>
    <td>
        <a sec:authorize="hasRole('OWNER')" class="btn btn-primary"
           th:href="@{'/OwnerApplications/make/' + ${owner.id}}">Submit an application</a>
    </td>

<!--    <td>-->
<!--        <a class="btn btn-primary" th:href="@{'/OwnerApplications/make/' + ${owner.id}}">Submit an application</a>-->
<!--    </td>-->

</div>
</body>
</html>

