<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Make Application</title>
</head>
<body>
<div layout:fragment="main-content">
<h1>Υποβολή Αίτησης</h1>
    <div th:if="${not #lists.isEmpty(properties)}">
<form action="/applications/submit" method="post" th:object="${app}">
    <input type="hidden" th:field="*{owner.id}" />

    <select name="property">
        <option th:each="property : ${properties}"
                th:value="${property.getId()}"
                th:text="${property.getCity() + ' ' +property.getAddress()}"></option>
    </select>

    <button type="submit">Υποβολή Αίτησης</button>
</form>
</div>
    <div th:if="${#lists.isEmpty(properties)}">
       You have completed all your  <strong>applications</strong>, or you do not have any  <strong>properties.</strong>

    </div>
</div>
</body>
</html>
