<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>change App</title>
</head>
<body>
<div layout:fragment="main-content">
    <form th:action="@{/OwnerApplications/change/appStatus/{id}(id=${app.id})}" th:object="${app}" method="post">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>City</th>
                <th>Description</th>
                <th>Address</th>
                <th>Rent Price</th>
                <th>owner's email</th>
                <th>ACTIONS</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <td th:text="${app.property.city}"></td>
            <td th:text="${app.property.description}"></td>
            <td th:text="${app.property.address}"></td>
            <td th:text="${app.property.rentPrice}"></td>
            <td th:text="${app.owner.email}"></td>

                <td>
                    <button type="submit" name="action" value="confirm" class="button">Confirm</button>
                    <button type="submit" name="action" value="reject" class="button">Reject</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    </form>
</div>

</body>
</html>
