<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>Applications</title>
</head>
<body>
<div layout:fragment="main-content">
    <div th:if="${not#lists.isEmpty(applications)}">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>Owner</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="app: ${applications}">
                <td th:text="${app.owner != null ? app.owner.firstName : 'No Owner'}"></td>
                <td th:text="${app.property !=null ? app.property.address : 'NO'}"></td>
                <td th:text="${app.property !=null ? app.property.city : 'NO'}"></td>
                <td th:text="${app.owner.firstName !=null ? app.owner.firstName : 'NO'}"></td>

            </tr>

            </tbody>
        </table>
    </div>
    <div th:if="${ #lists.isEmpty(applications)}">
        No Applications found!
    </div>
</div>
</body>
</html>