<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="src/main/resources/static/css/cover.css">
    <script src="https://kit.fontawesome.com/d2a7e9e4df.js" crossorigin="anonymous"></script>
</head>
<body>

<header class="masthead mb-auto" th:fragment="header">
    <div class="inner">
        <h3 class="masthead-brand">Cover</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/" data-path="/">Home</a>
            <a  sec:authorize="hasRole('ROLE_OWNER')" class="nav-link" href="/owner/profile" data-path="/owner/profile">Profile</a>
            <a  sec:authorize="hasRole('ADMIN')"  class="nav-link" href="/owner" data-path="/owner">Owners</a>
            <a  sec:authorize="hasRole('ROLE_OWNER')" class="nav-link" href="/property" data-path="/property">Properties</a>
            <a  sec:authorize="isAuthenticated()" class="nav-link" href="/applications" data-path="/applications">Applications</a>
            <a  sec:authorize="isAuthenticated()" class="nav-link" href="/tenant" data-path="/tenant">Tenants</a>
            <a  sec:authorize="hasRole('ADMIN')" class="nav-link" href="/tenant/all/applications" data-path="/tenant/all/applications">TenantApps</a>
            <a sec:authorize="hasRole('ADMIN')" class="nav-link" href="/users" data-path="/users">Users</a>
            <a sec:authorize="isAuthenticated()"  class="nav-link">
                <form th:action="@{/logout}" method="post">
                    <input type="submit"  class="btn btn-primary" value="Sign Out"/>
                </form>
            </a>
            <a sec:authorize="!isAuthenticated()"  class="nav-link">
                <a  class="btn btn-primary" href="/login">Login</a>
                <a  class="btn btn-primary" href="/register">Register</a>
            </a>

        </nav>
    </div>
</header>
</body>
</html>