/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #7304f6;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #ff0d0d;
    border: .05rem solid #07f1d9;
}

/* button make property in ownerList */

.button {
    --color: #7d05ea;
    font-family: inherit;
    display: block;
    width: 7em;
    height: 2.1em;
    line-height: 2.1em;
    margin: 10px;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;
    z-index: 0;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
}

.button:before {
    text-decoration: none;
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.button:hover {
    text-decoration: none;
    color: #fff;
}

.button:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
    text-decoration: none;
}

.button:hover:before {
    text-decoration: none;
    top: -30px;
    left: -30px;
}

.button:active:before {
    background: #3a0ca3;
    text-decoration: none;
    transition: background 0s;
}
.button.text {
    position: relative;
    z-index: 1;
    text-decoration: none;
    color: white;
    font-weight: 550;
    transition: inherit;
}


/* ---- */



/* details */
/* From Uiverse.io by vinodjangid07 */
.Btn {
    width: 110px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
    background-size: 250%;
    background-position: left;
    color: #b27b1a;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 1s;
    overflow: hidden;
}

.Btn::before {
    position: absolute;
    text-decoration: none;
    content: "Details";
    color: #eabd08;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 80%;
    border-radius: 8px;
    transition-duration: 1s;
    background-color: rgba(36, 36, 26, 0.84);
    background-size: 200%;
}

.Btn:hover {
    text-decoration: none;
    background-position: right;
    transition-duration: 1s;
}

.Btn:hover::before {
    text-decoration: none;
    background-position: right;
    transition-duration: 1s;
}

.Btn:active {
    text-decoration: none;
    transform: scale(0.95);
}
/* details */


html,
body {
    height: 100%;
    background-color: #333;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
    max-width: 42em;
}

/*
 * Header
 */
.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
}


/*
 * Cover
 */
.cover {
    padding: 0 1.5rem;
}
.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
    border: .05rem solid #07f1d9;
}


/*
 * Footer
 */
.mastfoot {
    color: rgba(255, 255, 255, .5);
}