<!--<!DOCTYPE html>-->
<!--<html lang="en"-->
<!--      xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--      layout:decorate="~{page_layout/layout}"-->
<!--      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Owners</title>-->
<!--</head>-->
<!--<body>-->
<!--<div layout:fragment="main-content">-->
<!--    <a class="Btn" th:href="@{'/owner/profile/' + ${owner.id}}">Profile</a>-->

<!--    </div>-->

<!--</body>-->
<!--</html>-->
