<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Owners</title>
</head>
<body>
<div layout:fragment="main-content">
    <div th:if="${not#lists.isEmpty(owners)}">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Properties</th>
<!--                <th>Actions</th>-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="owner : ${owners}">
                <td class="table-element" th:text="${owner.firstName}"></td>
                <td class="table-element" th:text="${owner.lastName}"></td>
                <td class="table-element" th:text="${owner.email}"></td>
                <td class="table-element" th:text="${owner.phone}"></td>
                <td>
                    <div th:if="${not#lists.isEmpty(owner.properties)}">
                        <!-- edo na fainetai mono an exei properties o owner ALLIOS SVISIMO-->
                        <a class="Btn" th:href="@{'/owner/show/properties'}"></a>
                    </div>
                </td>
<!--                <td>-->
<!--                    <a class="button" th:href="@{'/owner/make/property/' + ${owner.id}  }">add property</a>-->
<!--&lt;!&ndash;<a class="btn btn-primary" th:href="@{/applications/make/{ownerId}(ownerId=${owner.id})}">Make Application</a>&ndash;&gt;-->
<!--                </td>-->
            </tr>
            </tbody>
        </table>
   </div>
     <div th:if="${ #lists.isEmpty(owners)}">
        There are no registered owners yet!
 </div>

</div>
</body>
</html>
