<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>Owners</title>
</head>
<body>
<div layout:fragment="main-content">
    <div th:if="${not#lists.isEmpty(owners)}">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Properties</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="owner : ${owners}">
                <td th:text="${owner.firstName}"></td>
                <td th:text="${owner.lastName}"></td>
                <td th:text="${owner.email}"></td>
                <td>
                    <ul>
                        <li th:each="property : ${owner.properties}" th:text="${property.city}"></li>
                    </ul>
                </td>

                <td>
                    <a class="btn btn-outline-light btn-sm" th:href="@{'/owner/' + ${owner.id}}">Details</a>
                    <a class="btn btn-outline-light btn-sm" th:href="@{'/owner/make/property/' + ${owner.id}  }">make property</a>
                </td>
            </tr>
            </tbody>
        </table>
   </div>
     <div th:if="${ #lists.isEmpty(owners)}">
        No Owners found!
 </div>
    <a href="/owner/new" class="btn btn-primary" role="button">Create new Owner</a>
</div>
</body>
</html>