<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Owners</title>
</head>
<body>
<div layout:fragment="main-content">
    <div th:if="${not#lists.isEmpty(owners)}">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Details</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="owner : ${owners}">
                <td class="table-element" th:text="${owner.firstName}"></td>
                <td class="table-element" th:text="${owner.lastName}"></td>
                <td class="table-element" th:text="${owner.email}"></td>
                <td>
                    <a class="Btn" th:href="@{'/owner/show/properties/' + ${owner.id}}">Details </a>
<!--                    <a class="Btn" th:href="@{'/owner/show/properties/' + ${owner.id}}">Details </a>-->
                </td>
                <td>
                    <a class="button" th:href="@{'/owner/make/property/' + ${owner.id}  }">add property</a>
                    <a class="btn btn-primary" th:href="@{/applications/make/{ownerId}(ownerId=${owner.id})}">Make Application</a>
                </td>
            </tr>
            </tbody>
        </table>
   </div>
     <div th:if="${ #lists.isEmpty(owners)}">
        No Owners found!
 </div>
    <a href="/owner/new" class="btn btn-primary" role="button">Create new Owner</a>

</div>
</body>
</html>
