<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Make Application</title>
</head>
<body>
<div layout:fragment="main-content">
    <h1>Υποβολή Αίτησης</h1>
    <div th:if="${not #lists.isEmpty(properties)}">
        <form action="/tenantApplications/submit" method="post" th:object="${tenantApplication}">
            <input type="hidden" th:field="*{tenant}" />
<!--            <input type="hidden" th:field="*{property.getOwner().id}" />-->

            <select name="property">
                <option th:each="property : ${properties}"
                        th:value="${property.getId()}"
                        th:text="${property.getCity() + ' ' +property.getAddress()}"></option>
            </select>

            <button type="submit">Υποβολή Αίτησης</button>
        </form>
    </div>
    <div th:if="${#lists.isEmpty(properties)}">
       THERE IS NO  <strong>PROPERTY ON EYE YET</strong>, try again later

    </div>
</div>
</body>
</html>
